{% extends "base.html" %} 

{% block content %}

    <section class="mb-6">
        <h2 class="text-xl mb-2">About</h2>
        <p>This is a healthcare application designed to manage patient data efficiently and securely. Our goal is to help organizations use their data effectively to help others. Our mission is to foster a healtcare ecosystem where data becomes a powerful asset, facilitating advancements in medical research, enhancing patient care, and improving the well-being of individuals and communities.</p>
    </section>

    <section>
        <h2 class="text-xl mb-2">Features</h2>
        <ul class="list-disc pl-5">
            <li>Secure patient data management</li>
            <li>Easy appointment scheduling</li>
            <li>Interactive dashboards for health metrics</li>
            <li>Tools and technologies for patient data cleansing and transformation</li>
            <li>Enabling users to perform data analysis, including data exploration and reporting</li>
            <li>Integrating machine learning and artificial intelligence capabilities for predictive analytics</li>
            <li>Health records management</li>
            <li>Health and wellness tracking</li>
        </ul>
    </section>



{% endblock %}

   
   
   
