<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Healthcare App</title>
    
    <!-- Tailwind CSS via CDN -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-200">

    <header class="bg-blue-600 text-white p-4">
        <h1 class="text-2xl">My Healthcare App</h1>
        <nav>
            <ul class="flex space-x-4">
                <li><a href="/" class="hover:underline">Home</a></li>
                <li><a href="/about" class="hover:underline">About</a></li>
                <li><a href="/data" class="hover:underline">Data</a></li>
                <li><a href="/contact" class="hover:underline">Contact</a></li>
                <li><a href="/message us" class="hover:underline">Message Us</a></li>
            </ul>
        </nav>
    </header>

    {% if request.path == '/' %}
<section class="mb-6">
    <h2 class="text-xl mb-2">Welcome</h2>
    <p>We are a cloud computing company that specializes in managing patient data. Helping people manage their data is essential in the digital age, where individuals generate and interact with vast amounts of information. Some of the services we offer include data storage solutions, data organization tools, data backup and recovery, and data security measures. Effective data management solutions should empower individuals to have control over their data, protect their privacy, and make informed decisions based on their information and research. User empowerment and data secuirty should be at the forefront of any data management strategy.</p>
</section>
{% endif %}

    {% if request.path == '/' %}
<section class="mb-6">
    <h3 class="text-xl mb-2">FAQ</h3>
    <p><strong>1. How do I contact the company?</strong> Go to the "Message Us" tab in the top left corner and you will be able to send us a message.</p>
    <p><strong>2. I told my physician about this company but she has not heard of it, but I am interested in learning more, how can I go about this?</strong> We are a fairly new company, but we are glad to hear that you are interested. If you go the contact tab in the top left corner, you will found all of our contact information.</p>
    <P><strong>3. What type of services are offered?</strong> Check out our "About" tab in the top left corner for more information on the services we offer.</P>
</section>
{% endif %}


    <main class="p-4">

        {% block content %}{% endblock %}

    </main>

    <footer class="bg-blue-600 text-white p-4 mt-6">
        <p>© 2023 My Healthcare App. All Rights Reserved.</p>
    </footer>
</body>

</html>