{% extends "base.html" %} 

{% block content %}

    <section>
        <h2 class="text-xl mb-2"> Dataset of The Aggregate Household Income in the Past 12 Months in 2015 Inflation Adjusted Dollars, Preview in HTML</h2>
        <table class="table-auto">
            <thead>
                <tr>
                    <th class="px-4 py-2">Neighborhood</th>
                    <th class="px-4 py-2">Id</th>
                    <th class="px-4 py-2">Estimate; Aggregate household income in the past 12 months in 2015 Inflation-adjusted dollars</th>
                    <th class="px-4 py-2">Margin of Error; Aggregate household income in the past 12 months in 2015 Inflation-adjusted dollars</th>
                </tr>
            </thead>
            <tbody>
                {% for data in data.values %}
                <tr>
                    <td class="border px-4 py-2">{{ data[0] }}</td>
                    <td class="border px-4 py-2">{{ data[1] }}</td>
                    <td class="border px-4 py-2">{{ data[2] }}</td>
                    <td class="border px-4 py-2">{{ data[3] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>

{% endblock %}
